
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   padding: 100px;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  

   
   gap: 50px;

}
a{
   
   font-size: 20px;
   padding: 5px 20px;
   border-radius: 20px;
   text-align: center;
   text-decoration: none;
   background-color: #117964;
   color: white;
   font-weight: 500;
}

a:hover{
   font-weight: 600;
   transition: 1s;
}

/* ***********  pink buton ***************** */
.pink-button{

 
   
  display: inline-block;
  color: white;
  background-color: #e84949;
  padding: 0.8rem 2.3rem;
  font-size: 18px ;
  box-shadow: 5px 5px 7px 0px #0000003f;
  position: relative;
  z-index: 2;
  
}


.pink-button::before
{content: "";
 background-color: rgba(0, 0, 0, 0.534);
 position: absolute;
 top: 0.1rem;
 bottom: 0.1rem;
 left: 0;
 right: 0.1rem;
  z-index: -1;
 transform: scaleX(0);
 transform-origin: left;

 transition: ALL 0.7s ;

 
}

.pink-button:hover::before
{
  transform: scaleX(1);
  
} 
